[base]
pidfile = "/tmp/job.pid"

redisAddr = "localhost:6379"
redisPw = ""
RPCAddrs = "tcp@localhost:6923"
pushChan = 2
pushChanSize = 50


[[cometsAddrs]]
key = 1
addr = "tcp@0.0.0.0:6912"


[zookeeper]
host = "127.0.0.1:2181"
basePath = "/im_logic_rpc_server"
serverPathLogic = "LogicRpc"
serverPathComet = "CometRpc"
ServerId = "1"

